.InputClass {
  display: flex;
  flex-direction: column;
  input {
    margin-top: 5px;
    margin-bottom: 5px;
  }
}

nav {
  display: flex;
  justify-content: center;

  Link,
  a {
    text-decoration: none;
    color: rgb(0, 0, 0);
    background-color: white;
    padding: 10px 20px;
    border-radius: 10px;
    border: none;
    appearance: none;
    font-size: 1.3rem;
    box-shadow: 0px 8px 28px -6px rgba(24, 39, 75, 0.12),
      0px 18px 88px -4px rgba(24, 39, 75, 0.14);
    transition: all ease-in 0.1s;
    cursor: pointer;
    opacity: 0.9;

    :hover {
      padding: 13px 25px;
      opacity: 1;
    }
  }
}

.Form {
  display: flex;
  flex-direction: column;
  select {
    padding: 5px 3px;
    margin-top: 5px;
    margin-bottom: 5px;
  }
  input {
    padding: 5px 3px;
    margin-top: 5px;
    margin-bottom: 5px;
    ::placeholder {
      position: absolute;
      left: 12px;
      bottom: 50%;
      top: 90px;
      transform: translateY(-50%);
      width: calc(100% - 24px);
      color: #aaa;
      overflow: hidden;
      white-space: nowrap;
      text-overflow: ellipsis;
    }
  }
}

.Range {
  display: flex;
  justify-content: space-between;
  label {
    margin: 5px;
    font-size: larger;
  }
}

.Results {
  display: flex;
  flex-direction: column;
  font-size: larger;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 100px;
}
.Calculator {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

table,
th,
tr {
  border: 1px rgb(252, 252, 252) solid;
}
table {
  border-collapse: collapse;
}

th {
  padding: 3px 5px;
}

.Table-Container {
  margin-top: 7%;
  display: flex;
  justify-content: center;
  align-items: center;
}
